<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Holiday | NotHoliday </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="title">

    {% autoescape on %}

        <h3>{% for day in status %}
            {{ day.weekday |upper }}, {{ day.date |date:"d M Y" | upper }}
        {% endfor %}
        </h3>

        <h1>
            {% for day in status %}
                {{ day.status |upper }}</h1>
            {% endfor %}
        </h1>

    {% endautoescape %}

</div>
<div class="more-pens">
    <a target="_blank" href="https://github.com/timam/not-holiday" class="white-mode">SOURCE CODE</a>
    <a target="_blank" href="https://github.com/timam/no-fiesta" class="white-mode">INFRASTRUCTURE CODE</a>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.2/pixi.min.js'></script>


<script src="{% static 'js/index.js' %}"></script>


</body>

</html>
